
*.pyc
assignment_1/1_mlp_cnn/code/cifar10/.DS_Store
*.meta
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/cifar-10-batches-py/data_batch_1
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/cifar-10-batches-py/data_batch_2
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/cifar-10-batches-py/data_batch_3
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/cifar-10-batches-py/data_batch_4
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/cifar-10-batches-py/data_batch_5
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/data_batch_1
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/data_batch_2
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/data_batch_3
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/data_batch_4
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/data_batch_5
*.html
*.gz
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/cifar-10-batches-py/test_batch
assignment_1/1_mlp_cnn/code/cifar10/cifar-10-batches-py/test_batch
assignment_1/.DS_Store
assignment_1/1_mlp_cnn/.DS_Store
assignment_1/1_mlp_cnn/code/.DS_Store
*.jpg
*.zip
